<div class="container">
  <h1>❤️ Nosso contador ❤️ de tempo juntos </h1>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="assets/foto1.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/foto2.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/foto3.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/foto4.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/foto5.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/foto6.jpg" alt=""></div>
     
    </div>
  </div>

  <p class="subtitle"> coloque o texto romantico aqui guilherme, depois, falta um tempinho pro aniversario de namoro kk</p>

  <!-- Contador de tempo -->
  <div class="counter">
    <p> ESTAMOS JUNTOS A</p>
    <p id="time">{{ timeElapsed }}</p>
  </div>

  <!-- Player de música -->
  <audio controls >
    <source src="assets/Eternal Sunshine.mp3" type="audio/mp3">
    Seu navegador não suporta o player de áudio.
  </audio>
</div>