<div class="container">
  <div class="titulo">
    <span class="heart">❤️</span>
    <span class="text">Nosso contador de tempo juntos</span>
    <span class="heart">❤️</span>
</div>


  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="assets/foto1.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/foto2.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/foto3.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/foto4.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/foto5.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/foto6.jpg" alt=""></div>
     
    </div>
  </div>

  <p class="subtitle"> coloque o texto romantico aqui guilherme, depois, falta um tempinho pro aniversario de namoro kk</p>

  <!-- Contador de tempo -->
  <div class="counter">
    <p> ESTAMOS JUNTOS A</p>
    <p id="time">{{ timeElapsed }}</p>
  </div>

  <!-- Player de música -->
  <div class="player-container">

    <button (click)="playSound()" [disabled]="isPlaying"><img class="img "src="assets/play.png"></button>
    <button (click)="pauseSound()" [disabled]="!isPlaying"><img class="img "src="assets/pausa.png"></button>
    <button (click)="stopSound()"><img class="img "src="assets/seta.png"></button>
  
    <!-- Barra de Progresso -->
    <input type="range" 
           [max]="duration" 
           [value]="currentTime" 
           (input)="seek($event)" 
           class="progress-bar">
  
    <!-- Tempo Atual -->
    <!-- <p>{{ currentTime | number:'1.0-0' }}s / {{ duration | number:'1.0-0' }}s</p> -->
  </div>
</div>